html {
  --lumo-border-radius: 0.125em;
  --lumo-size-xl: 2.5rem;
  --lumo-size-l: 2rem;
  --lumo-size-m: 1.75rem;
  --lumo-size-s: 1.5rem;
  --lumo-space-xl: 1.75rem;
  --lumo-space-l: 1.125rem;
  --lumo-space-m: 0.5rem;
  --lumo-space-s: 0.25rem;
  --lumo-space-xs: 0.125rem;
  --lumo-font-size: 1rem;
  --lumo-font-size-xxxl: 1.375rem;
  --lumo-font-size-xxl: 1.125rem;
  --lumo-font-size-xl: 1rem;
  --lumo-font-size-l: 0.875rem;
  --lumo-font-size-m: 0.75rem;
  --lumo-font-size-s: 0.6875rem;
  --lumo-font-size-xs: 0.625rem;
  --lumo-font-size-xxs: 0.625rem;
  --lumo-line-height-m: 1.4;
  --lumo-line-height-s: 1.2;
  --lumo-line-height-xs: 1.1;
  --lumo-size-xs: 1.25rem;
  --lumo-primary-text-color: rgb(243, 156, 18);
  --lumo-primary-color-50pct: rgba(243, 156, 18, 0.5);
  --lumo-primary-color-10pct: rgba(243, 156, 18, 0.1);
  --lumo-primary-color: #f39c12;
}
