/* This file is automatically managed and will be overwritten from time to time. */
/* Do not manually edit this file. */

/* Provided by wt-pdf-viewer-1.0.8.jar */
@import "../../../VAADIN/themes/wtpdfviewer/wtpdfviewer.scss";


/* Import and include this mixin into your project theme to include the addon themes */
@mixin addons {
	@include wtpdfviewer;
}

